.container {
  display: flex;
  gap: 6px;
  align-items: center;
  line-height: 16px;

  img {
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 500;
  }
  span {
    font-size: 14px;
    font-weight: 700;
  }
}
