.item {
  display: flex;
  margin-bottom: 32px;
  padding: 20px 24px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  gap: 24px;
  position: relative;

  img {
    height: 128px;
    width: 171px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
